import /init.superuser.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug
    chmod 755 /sys/kernel/debug
    write /proc/sys/kernel/ctrl-alt-del 1

    write /sys/module/xt_qtaguid/parameters/ctrl_write_limited N

    export force_s3tc_enable true
#   export EGL_LOG_LEVEL info
#   export EGL_DRIVERS egl_dri2

on init
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root
    mkdir /storage/usb0 0000 system sdcard_rw
    mkdir /storage/usb1 0000 system sdcard_rw
    mkdir /storage/usb2 0000 system sdcard_rw
    mkdir /storage/usb3 0000 system sdcard_rw
    mkdir /storage/sdcard1 0000 system sdcard_rw

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated
    export SECONDARY_STORAGE /storage/usb0:/storage/usb1:/storage/usb2:/storage/usb3:/storage/sdcard1

    # Support legacy paths
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy

    # Backward compatibility
    symlink system/lib /lib

    # device information
    setprop ro.product.manufacturer $[/sys/class/dmi/id/sys_vendor]
    setprop ro.product.model $[/sys/class/dmi/id/product_name]

    exec /system/bin/logwrapper /system/bin/sh /system/etc/init.sh

on post-fs-data
    mkdir /data/media 0770 media_rw media_rw

    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/system 0771 system system
    mkdir /data/system/wpa_supplicant 0771 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp

    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

on early-boot
    readprops /x86.prop

on boot
    setprop ro.radio.use-ppp yes
    setprop ro.radio.noril no
    setprop status.battery.state Slow
    setprop status.battery.level 5
    setprop status.battery.level_raw  50
    setprop status.battery.level_scale 9

    # merge from system.prop
    setprop ro.config.sync yes
    setprop app.setupwizard.disable 0
    setprop ro.alarm.volume.adjustable true
    setprop ro.simulated.phone false
    # disable red frame boarder in eng build
    setprop persist.sys.strictmode.visual 0
    setprop persist.sys.strictmode.disable 1
    # workaround for h.265 slowness
    setprop sys.media.vdec.drop 0

on fs
    setprop ro.crypto.fuse_sdcard true
    # manually start class late_start since we don't use mount_all
    class_start late_start

service wpa_supplicant /system/bin/wpa_supplicant -c/data/misc/wifi/wpa_supplicant.conf
    class main
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABDKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABDKL
    class main
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service enable_houdini /system/bin/enable_houdini
    class main
    oneshot

service powerbtnd /system/bin/powerbtnd
    class late_start

service sdcard /system/bin/sdcard /data/media /mnt/shell/emulated 1023 1023
    class late_start

service logcat /system/bin/logcat -v threadtime -f /data/log.txt
    class debug

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd

on property:system_init.startsurfaceflinger=0
    # disable cursor blinking
    write /dev/tty0 "[?17;0;0c"
    start surfaceflinger
    stop console

on property:sys.boot_completed=1
    write /proc/sys/kernel/ctrl-alt-del 0
    exec /system/bin/logwrapper /system/bin/sh /system/etc/init.sh bootcomplete

on property:net.dns1=*
    exec /system/bin/logwrapper /system/bin/sh /system/etc/init.sh netconsole

on debug
    class_start debug

#REMOVE FROM HERE
