/dev/rfkill               0660   bluetooth  bluetooth
/dev/ttyS*                0660   system     radio
/dev/ttyACM*              0660   system     radio
/dev/ttyUSB*              0660   radio      radio
/dev/video*               0660   system     camera

# for bluetooth rfkill nodes
/sys/devices/*/bluetooth/hci0/rfkill* state       0660 bluetooth bluetooth
